.login-form {
    position: absolute;
    min-width: 300px;
    background: #fff;
    padding: 20px 36px;
    border-radius: 0 10px 10px 10px;
}

.login-form.false{
    display: none;
}
.login-form.true{
    display: block;
}
